:root {
  --2-font-family: "Century-Regular", Helvetica;
  --2-font-size: 24px;
  --2-font-style: normal;
  --2-font-weight: 400;
  --2-letter-spacing: 0px;
  --2-line-height: 129.99999523162842%;
  --text-font-family: "Century-Regular", Helvetica;
  --text-font-size: 24px;
  --text-font-style: normal;
  --text-font-weight: 400;
  --text-letter-spacing: 0px;
  --text-line-height: 129.99999523162842%;
}
