/* You can add global styles to this file, and also import other style files */

@import '@/assets/layout/styles/layout/layout.scss';

/* Demos */
@import '@/assets/demo/styles/flags/flags.css';
@import '@/assets/demo/styles/badges.scss';
@import "grid";
@font-face {
  font-family: Molot;
  src: url("/fonts/molot.regular.otf") format("opentype");
}
@font-face {
  font-family: Century;
  src: url("/fonts/957-font.ttf") format("opentype");
}

$mel_color : #A44343;
$bace-bg:#1B201D;

body{
  background: #1B201D;
}


//landing styles
  .text-molot{
    color: #A44343;
    font-family: Molot;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &.small-font{
      color: #FFFBDC;
      font-family: Molot;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 48px */
    }

    &.blue{
      color: #55A4A6;
    }
    &.white{
      color: #FFFBDC;
    }
  }


  .text-regular{
    color: #FFFBDC;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: Century;
    text-align:left;
  }

  .text-regular-column{
    color: #A5A4A1;
    font-family: Century;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 31.2px */
  }



                  //landing styles



:root{
  --white:#ffffff;
  --Gradient: linear-gradient(180deg, #BA68C8 0%, #8F48D2 100%);
  --mel:#BA68C8;
}

.bg-mel{
  background-color: $mel_color;
}

.bg-mel-reverse {
  color: $mel_color !important;
  background-color: var(--primary-color-text) !important;
}

.text-mel{
  color: $mel_color !important;
}

.btn-mel{
  color: var(--grey-50);
  background: $mel_color;
  border: 1px solid $mel_color;
  &:hover, &:focus, &:enabled:hover{
    color: var(--grey-50);
    background: $mel_color;
    border: 1px solid $mel_color;
  }
}

.border-mel{
  border-color: $mel_color !important;
}


.p-slider {
  .p-slider-range{
    background: $mel_color;
  }
  .p-slider-handle{
    border-color: $mel_color;
  }
}


.p-inputtext:enabled:hover {
  border-color: $mel_color;
}


td.up {
  background-color: green;
}

.mb-14{
  margin-bottom: 14px;
}

.mb-7px{
  margin-bottom: 7px;
}

.card{
  border-radius:0px;
  //box-shadow: 3px -4px 4px 0px #9c9da3;
}

.p-button{
  border-radius:0px
}
.mel-styled{
  //position: relative;
  //height: 100vh;
  //width: 100%;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  background:url("/images/back.svg") $mel_color;
  background-size:100%;

  /* shadow-2 */
  //box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12), 0px 0px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 10px 0px rgba(0, 0, 0, 0.03);
}
//.mel-styled:before{
//  content: "";
//  border-radius:24px;
//  //background-image: url('https://placekitten.com/1200/800');
//  background-size: cover;
//  position: absolute;
//  top: 0px;
//  right: 0px;
//  bottom: 0px;
//  left: 0px;
//  opacity: 0.2;
//  background:url("/images/back.svg") $mel_color;
//  //background-size:100%;
//
//  /* shadow-2 */
//  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12), 0px 0px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 10px 0px rgba(0, 0, 0, 0.03);
//}

.p-button.p-styled-light{
  border-radius: 24px;
  background: $mel_color;


  display: flex;
  min-height: 38px;
  min-width: 183px;
  padding: 8.5px 17.5px;
  justify-content: center;
  align-items: center;

  border: 1px solid $mel_color;
  color:#fff;

  &:hover, &:focus{
    background: var(--surface-card);
    border: 1px solid $mel_color;
    color:#fff;
    box-shadow: unset;
  }
}
.p-button.p-styled-clear{
  display: flex;
  min-height: 38px;
  min-width: 119px;
  padding: 8.5px 17.5px;
  justify-content: center;
  align-items: center;

  background: var(--gray-900);
  border-radius: 24px;
  border: 1px solid $mel_color;
  color:#FFFFFF;

  &:hover, &:focus{
    background: $mel_color;
    border: 1px solid var(--gray-900);
    color:#FFFFFF;
    box-shadow: unset;
  }
}

.icon-wrapper{
  width: 35px;
  height: 35px;

  flex: 0 0 35px;

  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  /*background: var(--lara-purple-purple-100, #EAD6FD);

  &.clear{
    background: transparent;
  }*/
}

.form-block {
  @media all and (min-width: 400px) {
    min-width:380px;
  }
  @media all and (min-width: 500px) {
    min-width:480px;
  }
}


.restoration-block{
  background:  #000000 !important;
  position:relative;

  &:before{
    display:block;
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    background: url("/images/27650278_wangs_61 1.png") left bottom no-repeat !important;
    border-radius:24px;
    z-index:0;
    opacity:0.3;
  }

  .p-styled-clear{
    background:transparent;
  }
}

.p-card-header{
  background: $mel_color;
  margin:-30px -30px 14px -30px;
  border-radius: 24px;
  padding:30px;
  @media all and (max-width: 767px){
    margin:-15px -15px 14px -15px;
    padding:15px;
  }
}